---
- name: Apache setup with handlers example
  hosts: webservers
  become: yes

  tasks:
    - name: Install apache2
      apt:
        name: apache2
        state: present
        update_cache: yes
      notify: restart apache

    - name: Create a homepage file
      copy:
        dest: /var/www/html/index.html
        content: "Hello! This page was deployed using Ansible."
      notify: restart apache

  handlers:
    - name: restart apache
      service:
        name: apache2
        state: restarted

